div.FlatSelect {
  flex: 1;
  flex-direction: column;
}

div.FlatSelect > div.FlatSelectSelect {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-top: 2px;
  margin-bottom: 2px;
}

div.FlatSelect > div.FlatSelectContent {
  flex: 1;
  flex-direction: column;
  margin-left: 1em;
}

div.FlatSelect > div.FlatSelectSelect > .label {
  flex-grow: 1;
  display: flex;
  border-radius: 0.25em;
}

div.FlatSelect > div.FlatSelectSelect.notleaf > .label {
  border-radius: 0.25em 0 0 0.25em;
  margin-right: 1px;
}

div.FlatSelect > div.FlatSelectSelect > .icon {
  display: flex;
  flex: 0;
  align-items: center;
  border-radius: 0 0.25em 0.25em 0;
  margin-left: 1px;
}

div.FlatSelect > div.FlatSelectSelect > .icon > .opened {
    transform: rotate(0deg);
    transition-duration: 0.5s;
}
div.FlatSelect > div.FlatSelectSelect > .icon > .closed {
    transform: rotate(-180deg);
    transition-duration: 0.5s;
}
