@import "./fonts/inter-cufonfonts-webfont/style.css";

$font-family-sans-serif: Inter Regular, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
//$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
//$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
//$font-family-base:       $font-family-sans-serif !default;

$font-size-base: 0.875rem;

$primary: #BFA66A;
$secondary: #D7D7D7;

@import "node_modules/bootstrap/scss/bootstrap";

/**
 *   Buttons
 */
.btn {
    border: solid 1px black;
    --bs-btn-padding-y: 0.500rem;
    --bs-btn-border-radius: 0.25rem;
}

.btn-primary, .btn-secondary {
    border: none;
}



/**
 *   Scrollbar
 */
* {
    scrollbar-width: auto;
    scrollbar-color: $primary $secondary;
  }

  /* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: $secondary;
}

*::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 0;
  /*border: 3px solid $secondary;*/
  border: none;
}

.MonSideBarContainer {
  display: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100hw;
}
.MonSideBarContainer>div.offcanvas::after {
  content: "plop";
}
