.map-container {
    flex-grow: 1;
    display: flex;
    width: 100%;
}

.map-container-container {
    flex-grow: 1;
    display: flex;
    position: relative;
    width: 100%;
}

.map-container-loading {
    flex-grow: 1;
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    border-radius: 4px;
    font-size: 0.5em;
}
