@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

.ComponentHeader {
    width: 100%;
}

.ComponentHeader header  {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    height: 2.2em;
    align-items: center;
}

.ComponentHeader header .header-title  {
    flex: 8;
    font-family: 'Macondo', cursive;
    font-size: 1.8em;
}

.ComponentHeader header .header-basemap  {
    flex: 1;
}